{% extends 'base.html.twig' %}

{% block title %}Standing index{% endblock %}

{% block body %}
    <div class="flex">
        <h1 class="font-extrabold text-2xl">Standings</h1>
        <a class="ml-auto p-2 bg-indigo-600 text-white rounded-lg border-2" href="{{ path('app_standing_new') }}">Add new</a>
    </div>

    <table class="min-w-full text-left">
        <thead class="border-b-2 border-zinc-600">
            <tr class="py-3">
                <th class="font-weight-bold py-3">Id</th>
                <th class="font-weight-bold">League</th>
                <th class="font-weight-bold">Season</th>
                <th class="font-weight-bold">Team</th>
                <th class="font-weight-bold">Rank</th>
                <th class="font-weight-bold">Victory</th>
                <th class="font-weight-bold">Loses</th>
                <th class="font-weight-bold">Created At</th>
                <th class="font-weight-bold">Updated At</th>
            </tr>
        </thead>
        <tbody>
        {% for standing in standings %}
            <tr class="border-b-2 border-zinc-200">
                <td class="py-3">{{ standing.id }}</td>
                <td class="py-3">{{ standing.league.name }}</td>
                <td class="py-3">{{ standing.season.year }}</td>
                <td class="py-3">{{ standing.team.name }}</td>
                <td class="py-3">{{ standing.rank }}</td>
                <td class="py-3">{{ standing.victory }}</td>
                <td class="py-3">{{ standing.loses }}</td>
                <td class="py-3">{{ standing.createdAt ? standing.createdAt|date('Y-m-d H:i') : '' }}</td>
                <td class="py-3">{{ standing.updatedAt ? standing.updatedAt|date('Y-m-d H:i') : '' }}</td>
                <td class="py-3">
                    <a class="font-bold text-indigo-600" href="{{ path('app_standing_edit', {'id': standing.id}) }}">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
